.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:link,
.navbar-dark .navbar-brand:active,
.navbar-dark .navbar-brand:hover {
    font-size: 4rem;
    color: #000;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #787878;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(0, 0, 0, 0.5); 
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

@media (max-width: 575px) {
    .navbar {
        padding: 0.5rem 2rem;
    }
}





