.nav-item {
    margin-right: 4rem;
}

.nav-link, 
.nav-link:link, 
.nav-link:active {
    color: #000;
}

.nav-link:hover {
    color: rgba(0, 0, 0, 0.548);
}

@media (min-width: 576px) {
    .nav-item {
        margin-right: 1rem;
    }
}

@media (min-width: 768px) {
    .nav-item {
        margin-right: 2rem;
    }
}