.Header {
    margin-top: 1rem;
    min-height: 30rem;
}

.Header img {
    width: 100%;
}



@media (max-width: 576px) {
    .overview-button {
        text-align: center;
    }
}

@media (min-width: 577px) {
    .Header {
        margin-top: 1.5rem;
        min-height: 27rem;
    }
}