.book-title {
    font-family: inherit;
    letter-spacing: 1px;
    font-size: 1.2rem;
    margin: 2rem 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #0018EF;
    font-weight: 700;
    padding-right: 1rem;
}